/* érdemes az importálásokkal kezdeni */
@font-face {
    font-family: Schoolbell;
    src: url(forras/Schoolbell-Regular.ttf);
}

:root{ /* az egész html, nem csak a tag-ek  */
    --betuvastagsag: 400;
    --fo_szin: #feda70;
    --masodlagos_szin: #8d5b1a;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Schoolbell; /* case-sensitive!!  */
}

body{
    background-image: url(forras/background.png);
    /* NEM KELL: border-image-repeat: stretch; */
    background-size: cover;
    background-repeat: no-repeat;
    /* vh = viewport height */
    min-height: 100vh;
    /* vw = viewport width */
    /* min-width: 100vw;  */   /*azért, hogy alul ne legyen scroll az oldalon*/
    /*  x tengely */
    /* 
    EZ is Jó
    padding-left: 32px;
    padding-right: 32px; */
    padding-inline-start: 32px;
    /* y tengely */
    /*ROSSZ: padding-inline-end: 32px; */
    /* 
    EZ is Jó
    padding-top: 64px;
    padding-bottom: 64px; */
    /* padding-block: 64px; */
    /* VAGY */
    /* TOP RIGHT BOTTOM LEFT */
    padding: 64px 32px 64px 32px;
}

main{
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    width: 100%; /* a 90vw 100%-a */
    margin: auto;
    background-color: white;
    border-radius: 12px;
    border: 3px solid black; /* ez a helyes sorrend  */
    /* border-width: 3px; */
    /* border-style: solid; */
    /* border-color: black; */
    padding-bottom: 32px;   /* ezzel adtunk a footer alá 32px-t */
}

section{
    padding: 32px;

}

/* gombok betűszíne: #8d5b1a;
gombok háttere: #feda70;
betűmérete: 20px
belsőmargója: 0.5rem
kerekítés 12px */
nav a{ /* nav-on belül lévő összes a tag  */
    background-color: var(--fo_szin);
    color: var(--masodlagos_szin);
    font-size: 20px;
    padding: 0.5rem;
    /* VAGY padding: .5rem; */
    border: 1px solid var(--masodlagos_szin);
    border-radius: 12px;
}

/* a gombokk középrehúzása */
nav{
    width: fit-content; 
    /*  
          <nav>
            <a>Főoldal</a>  = 83.58 px lett formázással
            <a>Táblázat</a>  = 83.58 px lett formázással
                        fit-contenttel = 167.16px
          </nav>
    */
    margin: auto;
}

/* <h1>
betűméret: 28px
betű vastagság: 400
<h2>
betűméret: 56px
betű vastagság: 400
<p>
betűméret: 24px
max szélesség: 60ch
betű vastagság: 400 */

h1{
    font-size: 28px;
    /* font-weight: 400; lásd google fonts  */
    font-weight: var(--betuvastagsag);
}

h2{
    font-size: 56px;
    /* font-weight: 400; */
    font-weight: var(--betuvastagsag);
}

p{
    font-size: 24px;
    max-width: 60ch;
    /* font-weight: 400; */
    font-weight: var(--betuvastagsag);
}

/* az ismert, tanult megoldások a duplikált tulajdonságra */
/* h1, h2, p{
font-weight: 400;
} */

/*   */

.formatted-text{
    color: var(--masodlagos_szin);
}


article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
    padding-bottom: 32px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

table, footer{
    max-width: 1080px;
    margin: auto;  /* csak fixált szélességhez köthető*/
    width: 100%;  /* ha van hely, akkor az 1080px-nyi helyet töltse fel, ezért lesz olyan széles, mint a footer  */
}

table{
    border-collapse: collapse;
}

table, tr, th, td{
    border: 1px solid black;
}

th, td, footer{
    padding: 16px;
}

table tr:nth-child(even), th, footer{
    background-color: var(--masodlagos_szin);
    color: var(--fo_szin);
}

table tr:nth-child(odd){
    background-color: var(--fo_szin);
    color: var(--masodlagos_szin);
}

footer{
    text-align: center;
}

/* ******************* */
/* <!-- ÚJ ANYAG --> */
/* ******************* */

.badge{
    width: 150px;
    padding: 12px;
    background-color: crimson;
    color: white;
    border-radius: 12px;
    text-align: center;

/* <!-- ÚJ ANYAG --> */    
    /* position: static; */
    
    /* Eredeti helyéhez képest relatív */
    /* position: relative; */
    /* top: 12px;
    bottom: 0;
    right: 0;
    left: 200px; */

    /* Böngésző ablakához igazodik (pl. felugró ablakok) */
    /* position: fixed;
    z-index: 10; /*alapértelmezett z=0*/
    /* left: 50px;
    top: 50px; */

    /* A hozzá legközelebb lévő szülő elemhez , aminek */
    /* van position beállítása, ami nem STATIC */
    /* alapértelmezetten ez <html> */
    /* position: absolute;
    top: 0;
    top: 32px;
    left: 25%; */


    position: sticky;
    /* top: 32px; */
    top: 0;
}

/* Absolute */
/* .badge-container{
    background-color: white;
    border: 2px solid black;
    height: 300px;
    position: relative;

} */

